<h1>New Customer</h1>

<%= form_with(model: @customer, local: true) do |form| %>
  <div>
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :customer_id %>
    <%= form.number_field :customer_id %>
  </div>

  <br>

  <%= form.submit %>
<% end %>

<br>

<%= link_to 'Back', customers_path %>
